In [1]:
import requests # use to retrieve data from API
import math
import pandas as pd
import datetime as datetime
#import os

In [3]:
pd.read_csv("C:/Users/yangs/Documents/Coding/rs3-ml/src/ge-prices-2024-07-28.csv")

,index,id,price,volume,timestamp,date,weekday,name,diff_1_day,diff_7_day,diff_14_day,diff_30_day,ma_7_day,ma_14_day,ma_30_day,diff_ma_7_day,diff_ma_14_day,diff_ma_30_day
0,180,52937,1653,NaN,1646092800000,2022-03-01,1,Abyssal flesh,153.0,153.0,153.0,153.0,1521.857143,1510.928571,1505.100000,21.857143,10.928571,5.100000
1,181,52937,1736,NaN,1646179200000,2022-03-02,1,Abyssal flesh,83.0,236.0,236.0,236.0,1555.571429,1527.785714,1512.966667,33.714286,16.857143,7.866667
2,182,52937,1823,NaN,1646265600000,2022-03-03,1,Abyssal flesh,87.0,323.0,323.0,323.0,1601.714286,1550.857143,1523.733333,46.142857,23.071429,10.766667
3,183,52937,1915,NaN,1646352000000,2022-03-04,1,Abyssal flesh,92.0,415.0,415.0,415.0,1661.000000,1580.500000,1537.566667,59.285714,29.642857,13.833333
4,184,52937,2011,NaN,1646438400000,2022-03-05,0,Abyssal flesh,96.0,511.0,511.0,511.0,1734.000000,1617.000000,1554.600000,73.000000,36.500000,17.033333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550555,723468,43983,483,16747.0,1721748680000,2024-07-23,1,Zygomite fruit,0.0,-31.0,-44.0,-49.0,488.428571,502.142857,512.566667,-4.428571,-3.142857,-1.633333
550556,723469,43983,483,17274.0,1721804620000,2024-07-24,1,Zygomite fruit,0.0,-19.0,-44.0,-63.0,485.714286,499.000000,510.466667,-2.714286,-3.142857,-2.100000
550557,723470,43983,480,15194.0,1721928652000,2024-07-25,1,Zygomite fruit,-3.0,-22.0,-34.0,-66.0,482.571429,496.571429,508.266667,-3.142857,-2.428571,-2.200000
550558,723471,43983,480,11417.0,1721993510000,2024-07-26,1,Zygomite fruit,0.0,-3.0,-34.0,-39.0,482.142857,494.142857,506.966667,-0.428571,-2.428571,-1.300000
550559,723472,43983,480,21458.0,1722066488000,2024-07-27,0,Zygomite fruit,0.0,-3.0,-34.0,-39.0,481.714286,491.714286,505.666667,-0.428571,-2.428571,-1.300000